<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>GlamQuest</title>
</head>
<body>
    <div class="nav-bar">
        <nav>
            <a href="/profile">profile</a>
        </nav>
        <nav>
            <img src="images/brushes.png" alt="brushes" width="300px" height="300px"/>
        </nav>
        <nav>
            <a href="<%= isAuthenticated ? '/search' : '/login' %>">Search</a>
        </nav>        
    </div>

    <div class="home-title">
        <span class="material-symbols-outlined">home</span>
        <a href = "/">
        <h5>GlamQuest</h5>
        </a>
    </div>
    <div class="header-bar">
        <h1>Profile</h1>
        <p>Welcome <%= user.first_name %> <%= user.last_name %></p>
        <p>Email: <%= user.email %></p>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <p class="search-history-title">Search History: </p> 
        <div class="new-table-container">
            <table>
                <tr>
                    <th>Search</th>
                    <th>Timestamp</th>
                </tr>
                <% searchHistory.forEach(item => { %>
                    <tr>
                        <td><%= item.search_query %></td>
                        <td><%= item.search_timestamp %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
    

    <div class="nav-bar">
        <nav>
            <img src="images/concealer.png" alt="concealer" width="300px" height="300px"/>
        </nav>
        <nav>
            <a href="/login">login</a>
        </nav>
        <nav>
            <img src="images/powder.png" alt="powder" width="300px" height="300px"/>
        </nav>
        
    </div>
</body>
</html>